/* Block Area */

.block-area {
	position: relative;
	overflow: hidden;
}

.block-area-content {
	width: 100%;
	padding: var(--d-grid-padding);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 5;
}

.block-area-content.no-padding {
	padding: 0;
}

.block-area-header .block-area-content {
	padding-top: calc(var(--d-grid-padding) / 2);
	padding-bottom: calc(var(--d-grid-padding) / 2);
}

.wp-block-cover .block-area-content {
	padding-top: calc(var(--d-grid-padding) * 2);
	padding-bottom: calc(var(--d-grid-padding) * 2);
	text-align: center;
}

.block-area-header-silo .block-area-content {
	text-align: center;
}

.block-area-with-overlay .block-area-content::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgb(0, 0, 0);
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 10, 19, 0.54) 40%, rgba(0, 14, 26, 0.83) 100%);
}

.block-style-solid .block-area-content {
	background-color: var(--c-prussian-blue-alt);
}

.block-style-highway-blur .block-area-content {
	padding-top: 60px;
	background-color: var(--c-prussian-blue-alt);
	background-image: url("../images/background-highway-streaks-sm.jpg");
}

.block-area-quotes-slider .block-area-content {
	padding-top: 80px;
	background-color: var(--c-prussian-blue-alt);
	background-image: url("../images/quotes-block-background-sm.jpg");
}

.block-area-text {
	position: relative;
}

.block-area-title {
	margin-bottom: 0.55em;
}

.block-area-paragraph {
	margin-bottom: 1.875rem;
}

.block-area-member-logos img {
	width: 200px;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

.block-area-quotes-slider blockquote {
	padding-left: calc(var(--d-grid-padding) * 2.5);
}

.block-area-quotes-slider blockquote::before {
	margin-top: calc(var(--d-grid-padding) * 0.15);
	margin-left: calc(var(--d-grid-padding) * -2.3);
	width: calc(var(--d-grid-padding) * 1.8);
	height: calc(var(--d-grid-padding) * 1.8);
}

.block-area-header {
	margin: 0 auto;
	padding: 0;
}

.block-area-header.wp-block-cover {
	margin-bottom: calc(var(--d-grid-padding) * 1.5);
	max-width: none;
	min-height: 450px;
}

.block-area-header .block-area-button-link {
	margin: calc(var(--d-grid-padding) * 1.5) auto 0;
	display: inline-block;
}

.block-area-header-silo .entry-title {
	margin: 5px auto 0;
	padding: 0;
	border: 0;
}

@media (--bp-medium) {

	.block-style-highway-blur .block-area-content {
		background-image: url("../images/background-highway-streaks-md.jpg");
	}

	.block-area-quotes-slider .block-area-content {
		background-image: url("../images/quotes-block-background-md.jpg");
	}

	.block-area .restricted-width > * {
		padding-right: 20%;
	}

	/* .block-area-quotes-slider p {
		font-size: 1.875rem;
	} */

	.block-area-header.wp-block-cover {
		min-height: 750px;
	}
}

@media (--bp-large) {

	.block-area-content {
		padding-left: calc(var(--d-grid-padding) * 1.333);
		padding-right: calc(var(--d-grid-padding) * 1.333);
	}

	.block-style-highway-blur .block-area-content {
		background-image: url("../images/background-highway-streaks-lg.jpg");
	}

	.block-area-quotes-slider .block-area-content {
		background-image: url("../images/quotes-block-background-lg.jpg");
		background-size: contain;
		background-position-x: right;
	}

	.block-area .restricted-width > * {
		padding-right: 25%;
	}

	.block-area-with-overlay .block-area-content::before {
		background: rgb(0, 14, 26);
		background: linear-gradient(90deg, rgba(0, 14, 26, 1) 0%, rgba(0, 14, 26, 1) 30%, rgba(0, 10, 19, 0.54) 50%, rgba(0, 0, 0, 0) 80%);
	}
}

.wp-block-cover .entry-title {
	margin: 0 auto;
	padding: 0;
	border: 0;
	line-height: 1.8;
	max-width: 90%;
}

@media (--bp-medium) {

	.wp-block-cover .entry-title {
		max-width: 70%;
	}
}

.wp-block-cover .tagline {
	display: block;
	max-width: 75%;
	margin: calc(var(--d-grid-padding) / 2) auto 0;
}

@media (--bp-medium) {

	.wp-block-cover .tagline {
		max-width: 35%;
	}

	.silo-template-default .tagline,
	.post-type-silo .tagline {
		display: inline-block;
		max-width: 40%;
	}
}
