/* Footer */
.site-footer {
	width: 100%;
	background-color: var(--color-footer-background-fallback);
	background-image: var(--color-footer-background);
	margin-top: var(--component-padding);

	p,
	li {

		@extend .paragraph;
		margin-bottom: 0;
	}

	a {
		color: var(--color-footer-link);
		transition: border-color 0.1s linear 0s;
		border-bottom: 2px solid var(--color-transparent);

		&:hover,
		&:focus,
		&:active {
			color: var(--color-footer-link);
		}

		&:hover {
			border-bottom-color: var(--color-link);
		}
	}

	.menu {
		margin: 0;
		padding: 0;
	}
}

.site-footer-content {

	@extend %flex-between-start;
	padding-top: var(--space-xl);
	padding-bottom: var(--space-xl);
}

.site-footer-column {
	width: 100%;
	margin-bottom: var(--space-md);
}

@media (--bp-medium) {

	.site-footer-column {
		width: auto;
	}
}

.footer-title {
	font-size: var(--text-lg);
	line-height: 1;
	font-weight: 600;
	margin-bottom: var(--text-xs);
}
