/* Footer */
.site-footer {
	width: 100%;
	background-color: var(--color-footer-background-fallback);
	background-image: var(--color-footer-background);
	margin-top: var(--component-padding);

	p,
	li {

		@extend .paragraph;
		margin-bottom: 0;
	}

	a {
		color: var(--color-footer-link);
		text-decoration: none;

		&:hover,
		&:focus,
		&:active {
			color: var(--color-footer-link);
		}

		&:hover {
			text-decoration: underline;
		}
	}

	.menu {

		@include reset-list;
	}
}

.site-footer-content {

	@extend %flex-between-start;
	padding-top: var(--space-lg);
	padding-bottom: var(--space-lg);
	align-items: flex-start;
	justify-content: stretch;
}

.site-footer-column {
	flex-basis: 100%;
	margin-bottom: var(--space-lg);

	&:first-child {

		p {
			margin-bottom: var(--space-sm);
		}
	}

	&:last-child {
		margin-bottom: 0;
	}
}

@media (--bp-medium) {

	.site-footer-column {
		flex-basis: calc(100% / 3);

		&:nth-last-child(2) {
			margin-bottom: 0;
		}
	}
}

@media (--bp-large) {

	.site-footer-column {
		flex-basis: 20%;
		margin-bottom: 0;

		&:last-child {
			text-align: right;
		}
	}
}

.footer-title {
	font-size: var(--text-lg);
	line-height: 1;
	font-weight: 600;
	margin-bottom: var(--text-xs);
}
