/* Navigation */

/* Header Nav */
.nav-bgrd {
	background: var(--color-nav-background-solid);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
}

.main-navigation {
	width: 100%;
	display: block;
	position: absolute;
	top: -500px;
	right: 0;
	z-index: 1;
	background: var(--color-nav-submenu-background-fallback);
	background: var(--color-nav-submenu-background);
	padding: var(--component-padding);
	-webkit-font-smoothing: subpixel-antialiased;
	transition: top 0.2s linear 0s;
}

.menu-toggled .main-navigation {
	top: 60px;
}

@media (--bp-large) {

	.main-navigation,
	.menu-toggled .main-navigation {
		width: auto;
		display: inline-block;
		vertical-align: middle;
		background-color: var(--color-transparent);
		background-image: none;
		position: relative;
		top: auto;
		right: auto;
		padding: 0;
		margin-left: var(--space-xs);
		z-index: 10;
		transition: top 0 linear 0s;
	}
}

/* Header Menu */
.header-nav {

	@include horizontal-list;
	font-size: var(--text-lg);
	line-height: var(--body-line-height);
	color: var(--color-nav-text-solid);
	font-weight: 400;

	li {
		display: block;

		a {
			display: inline-block;
			color: var(--color-nav-text-solid);
			border-top: 2px solid var(--color-transparent);
			border-bottom: 2px solid var(--color-transparent);
			margin: var(--space-xxs) 0;
			transition: border-color 0.1s linear 0s;
			cursor: pointer;

			&:hover {
				border-bottom-color: var(--color-link);
			}
		}

		&.menu-item-has-children > a {

			@extend %has-icon;

			&::after {

				@extend %has-icon;
				content: ">";
				display: inline-block;
				margin-left: var(--space-xxs);
				transform: rotate(90deg);
				transition: transform 0.2s linear 0s;
			}
		}

		ul {
			font-size: var(--text-lg);
			line-height: var(--body-line-height);
			display: none;
		}

		&.submenu-toggled > ul {
			display: block;
		}

		&.submenu-toggled > a::after {
			transform: rotate(-90deg);
		}
	}
}

@media (--bp-large) {

	.header-nav {

		@include horizontal-list;
		font-size: var(--text-md);
		line-height: 1;
		display: block;

		li {
			margin: 0 var(--space-sm);
			position: relative;

			ul {
				font-size: var(--text-md);
				line-height: var(--body-line-height);
				position: absolute;
				top: calc(100% + 11px);
				left: calc(var(--component-padding) * -1);
				width: auto;
				min-width: var(--space-xxxxl);
				background-color: var(--color-nav-submenu-background-fallback);
				background-image: var(--color-nav-submenu-background);
				padding: var(--space-xs) var(--component-padding) var(--component-padding);
				margin-left: 0;
				display: block;
				opacity: 0;
				transition: opacity 0.1s linear 0s;

				li {
					display: block;
					margin: 0;
				}
			}

			&.submenu-toggled > ul {
				opacity: 1;
			}
		}
	}
}
