/* Navigation */
.nav-bgrd {
	background: var(--c-nav-background-solid);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
}

.main-navigation {
	width: 100%;
	position: absolute;
	top: -300px;
	right: 0;
	z-index: 1;
	background: var(--c-nav-submenu-background-fallback);
	background: var(--c-nav-submenu-background);
	padding: 10px var(--d-grid-padding);
	display: block;
	-webkit-font-smoothing: subpixel-antialiased;
	transition: top 0.2s linear 0s;
}

.menu-toggled .main-navigation {
	top: 60px;
}

@media (--bp-large) {

	.main-navigation,
	.menu-toggled .main-navigation {
		width: auto;
		display: inline-block;
		vertical-align: middle;
		background-color: var(--c-transparent);
		background-image: none;
		position: relative;
		top: auto;
		right: auto;
		transition: top 0 linear 0s;
		padding: 0;
		margin-left: 1.5rem;
		z-index: 10;
	}
}

.header-nav {
	color: var(--c-nav-text-solid);
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

.header-nav ul {
	margin-left: 1.5rem;
	padding-left: 0;
	display: none;
}

.header-nav li.submenu-toggled > ul {
	display: block;
}

@media (--bp-large) {

	.header-nav {
		display: block;
	}

	.header-nav ul {
		position: absolute;
		top: calc(100% + 10px);
		left: -32px;
		width: auto;
		min-width: 7rem;
		background-color: var(--c-nav-submenu-background-fallback);
		background-image: var(--c-nav-submenu-background);
		padding: 10px var(--d-grid-padding) var(--d-grid-padding);
		margin-left: 0;
		display: block;
		opacity: 0;
		transition: opacity 0.1s linear 0s;
	}

	.header-nav li.submenu-toggled > ul {
		opacity: 1;
	}
}

.header-nav li {
	list-style-type: none;
	font-size: 1rem;
	line-height: inherit;
}

.menu-item-has-children > a {
	position: relative;
}

.menu-item-has-children > a::after {
	content: ">";
	margin-left: 0.25rem;
	transform: rotate(90deg);
	transition: transform 0.2s linear 0s;
	display: inline-block;
	vertical-align: middle;
}

.submenu-toggled > a::after {
	transform: rotate(-90deg);
}

@media (--bp-large) {

	.header-nav li {
		display: inline-block;
		margin: 0 0.75rem;
		position: relative;
	}

	.header-nav li li {
		display: block;
		margin: 0;
	}
}

.header-nav li a {
	display: inline-block;
	color: var(--c-nav-text-solid);
	font-weight: 400;
	text-decoration: none;
	white-space: nowrap;
	border-top: 2px solid var(--c-transparent);
	border-bottom: 2px solid var(--c-transparent);
	padding: 0;
	margin: 0.25rem 0;
	transition: border-color 0.1s linear 0s;
	cursor: pointer;
}

@media (--bp-large) {

	.header-nav li a {
		margin: 0;
	}
}

.header-nav li a:hover {
	border-bottom-color: var(--c-link);
}
