/* Navigation */

/* Header Nav */
.nav-bgrd {
	background: var(--color-nav-background-solid);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
}

.main-navigation {
	width: calc(var(--space-unit) * 18);
	display: block;
	position: fixed;
	top: 60px;
	bottom: 0;
	right: calc(var(--space-unit) * -18);
	z-index: 1;
	background: var(--color-nav-submenu-background-fallback);
	background: var(--color-nav-submenu-background);
	-webkit-font-smoothing: subpixel-antialiased;
	transition: right 0.2s linear 0s;
	overflow: scroll;
}

.menu-toggled .main-navigation {
	right: 0;
}

body.admin-bar .main-navigation {
	top: 92px;
}

@media (--wp-medium-max) {

	body.admin-bar .main-navigation {
		top: 106px;
	}
}


@media (--bp-large) {

	.main-navigation,
	.menu-toggled .main-navigation,
	body.admin-bar .main-navigation {
		background-color: var(--color-transparent);
		background-image: none;
		position: relative;
		top: auto;
		bottom: auto;
		right: auto;
		margin-left: var(--space-xs);
		z-index: 10;
		transition: none;
		overflow: visible;
		flex: 1 0 auto;
	}
}

/* Header Menu */
.header-nav {

	@include horizontal-list;
	font-size: var(--text-md);
	line-height: var(--body-line-height);
	color: var(--color-nav-text-solid);
	font-weight: 400;

	li {
		display: block;
		padding: 0;
		border-bottom: 1px solid var(--color-neutral-darkest);

		a {
			display: inline-block;
			color: var(--color-nav-text-solid);
			text-decoration: none;
			margin: var(--space-xxs) 0;
			padding: var(--space-xs) var(--component-padding);
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}

		&.menu-item-has-children > a {

			@extend %has-icon;

			&::after {

				@extend %has-icon;
				content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 15 15'%3E%3Cpath d='M7.5,0,6.136,1.364,11.3,6.526H0V8.474H11.3L6.136,13.636,7.5,15,15,7.5Z' fill='%23fff'/%3E%3C/svg%3E");
				display: inline-block;
				margin-left: var(--space-xxs);
				margin-top: calc(-0.5 * var(--space-xxs));
				transform: rotate(90deg);
				transition: transform 0.2s linear 0s;
			}
		}

		ul {
			padding: 0;
			margin-bottom: 0;
			display: none;

			li {
				border: 0;
				border-top: 1px solid var(--color-neutral-darkest);
				background: var(--color-primary-dark);
			}
		}

		&.submenu-toggled > ul {
			display: block;
		}

		&.submenu-toggled > a::after {
			transform: rotate(-90deg);
		}
	}
}

@media (--bp-large) {

	.header-nav {

		@include horizontal-list;
		line-height: 1;
		display: block;

		li {
			border: 0;
			position: relative;

			a {
				padding-left: var(--space-sm);
				padding-right: var(--space-sm);
			}

			ul {
				font-size: var(--text-md);
				line-height: var(--body-line-height);
				position: absolute;
				width: auto;
				min-width: var(--space-xxxxl);
				background: var(--color-primary-darker);

				li {
					display: block;
					background: transparent;
					border: 0;
					border-bottom: 1px solid var(--color-neutral-darkest);
					margin: 0;

					&:last-child {
						border: 0;
					}

					a {
						padding-top: var(--space-xxxs);
						padding-bottom: var(--space-xxxs);
					}
				}
			}
		}
	}
}
