/* Section */
.section-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.section-title {
	margin-bottom: 0;
	line-height: 1;
}

.section-header-link {
	font-size: 1rem;
	line-height: 1;
	font-weight: 700;
	color: var(--c-black);
	cursor: pointer;
}

.section-header-link:hover {
	color: var(--c-black);
	text-decoration: underline;
}
