/* Elements */
html {
	box-sizing: border-box;
}

/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background: var(--c-body-background);
}

hr {
	background-color: var(--c-alto);
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

p {
	margin: 0;
}

a,
a:visited {
	color: var(--c-link);
	transition: color 0.2s linear 0s;
}

a:hover,
a:focus,
a:active {
	color: var(--c-link-alt);
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}
