/* Forms */

button {
	background: var(--c-button-background);
	border: 0;
	width: auto;
	height: 3rem;
	padding: 0 30px;
	color: var(--c-button-text);
	line-height: 1;
	font-weight: 700;
	cursor: pointer;
	position: relative;
	transition: background-color 0.2s linear 0s;
}

button:hover,
button:focus {
	background: var(--c-button-background-alt);
}

/* Default to right arrow */
.button-arrow::after,
.button-arrow-right::after {
	content: "";
	display: inline-block;
	background-image: url("data:image/svg+xml,%3Csvg id='Arrow_Right' data-name='Arrow Right' xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15'%3E%3Cpath id='Path_10' data-name='Path 10' d='M7.5,0,6.136,1.364,11.3,6.526H0V8.474H11.3L6.136,13.636,7.5,15,15,7.5Z' fill='%23001940'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: contain;
	width: 0.75rem;
	height: 0.75rem;
	margin-left: 10px;
}

.button-arrow-down::after {
	transform: rotate(90deg);
}

.button-arrow-up::after {
	transform: rotate(-90deg);
}

@media (--bp-medium) {

	.button-arrow::after {
		width: 0.9375rem;
		height: 0.9375rem;
	}
}
