/* Icons */
%has-icon,
.has-icon {
	vertical-align: middle;
	position: relative;
}

%is-icon {
	content: "";
	display: inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	width: var(--component-padding);
	height: var(--component-padding);
}

.has-arrow {

	@extend %has-icon;
	display: inline-block;

	&::after {

		@extend %is-icon;
		width: var(--space-sm);
		height: var(--space-sm);
		margin-left: var(--space-xxs);
		vertical-align: bottom;
	}

	&-right::after {

		@extend .has-arrow::after;
		background-image: url("data:image/svg+xml,%3Csvg id='Arrow_Right' data-name='Arrow Right' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cpath id='Path_10' data-name='Path 10' d='M7.5,0,6.136,1.364,11.3,6.526H0V8.474H11.3L6.136,13.636,7.5,15,15,7.5Z' fill='%23001940'/%3E%3C/svg%3E%0A");
	}

	&-left::before {

		@extend .has-arrow-right::after;
		margin-left: 0;
		margin-right: var(--space-xxs);
		transform: rotate(180deg);
	}

	&-left::after {
		display: none;
	}

	&-down::after {

		@extend .has-arrow-right::after;
		transform: rotate(90deg);
	}

	&-up::after {

		@extend .has-arrow-right::after;
		transform: rotate(-90deg);
	}

}

.icon {

	@extend %has-icon;
	display: inline-block;

	&::after {

		@extend %is-icon;
		display: block;
	}

	&:hover {
		text-decoration: none !important;
	}

	+ .icon {
		margin-left: var(--space-xxxs);
	}
}

.twitter-icon::after {
	background-position: center;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36.986 30'%3E%3Cpath id='Path_36' data-name='Path 36' d='M49.712,32c13.973,0,21.575-11.507,21.575-21.575V9.4a16.7,16.7,0,0,0,3.7-3.9,17.057,17.057,0,0,1-4.315,1.233,8,8,0,0,0,3.288-4.11,18.847,18.847,0,0,1-4.726,1.849A7.338,7.338,0,0,0,63.685,2a7.72,7.72,0,0,0-7.6,7.6,4.006,4.006,0,0,0,.205,1.644A21.244,21.244,0,0,1,40.671,3.233a7.869,7.869,0,0,0-1.027,3.9,8.164,8.164,0,0,0,3.288,6.37,6.927,6.927,0,0,1-3.493-1.027h0a7.51,7.51,0,0,0,6.164,7.4,6.335,6.335,0,0,1-2.055.205,3.5,3.5,0,0,1-1.438-.205A7.784,7.784,0,0,0,49.3,25.219a15.514,15.514,0,0,1-9.452,3.288A5.689,5.689,0,0,1,38,28.3,19.4,19.4,0,0,0,49.712,32' transform='translate(-38 -2)' fill='%23fff' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
}

.facebook-icon::after {
	background-position: center;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15.667 30'%3E%3Cpath id='Path_35' data-name='Path 35' d='M90.167,30V16.333h4.667L95.5,11H90.167V7.667c0-1.5.5-2.667,2.667-2.667h2.833V.167C95,.167,93.333,0,91.5,0c-4,0-6.833,2.5-6.833,7v4H80v5.333h4.667V30Z' transform='translate(-80)' fill='%23fff' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
}

.instagram-icon::after {
	background-position: center;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath id='Path_3' data-name='Path 3' d='M15,2.667a45.993,45.993,0,0,1,6,.167,7.73,7.73,0,0,1,2.833.5,5.853,5.853,0,0,1,2.833,2.833A7.73,7.73,0,0,1,27.167,9c0,1.5.167,2,.167,6a45.993,45.993,0,0,1-.167,6,7.73,7.73,0,0,1-.5,2.833,5.853,5.853,0,0,1-2.833,2.833,7.73,7.73,0,0,1-2.833.5c-1.5,0-2,.167-6,.167a45.993,45.993,0,0,1-6-.167,7.73,7.73,0,0,1-2.833-.5,5.853,5.853,0,0,1-2.833-2.833A7.73,7.73,0,0,1,2.833,21c0-1.5-.167-2-.167-6a45.993,45.993,0,0,1,.167-6,7.73,7.73,0,0,1,.5-2.833A5.986,5.986,0,0,1,4.5,4.5,2.818,2.818,0,0,1,6.167,3.333,7.73,7.73,0,0,1,9,2.833a45.993,45.993,0,0,1,6-.167M15,0A49.245,49.245,0,0,0,8.833.167,10.289,10.289,0,0,0,5.167.833,6.525,6.525,0,0,0,2.5,2.5,6.525,6.525,0,0,0,.833,5.167,7.594,7.594,0,0,0,.167,8.833,49.245,49.245,0,0,0,0,15a49.245,49.245,0,0,0,.167,6.167,10.289,10.289,0,0,0,.667,3.667A6.525,6.525,0,0,0,2.5,27.5a6.524,6.524,0,0,0,2.667,1.667,10.289,10.289,0,0,0,3.667.667A49.246,49.246,0,0,0,15,30a49.246,49.246,0,0,0,6.167-.167,10.289,10.289,0,0,0,3.667-.667,6.992,6.992,0,0,0,4.333-4.333,10.289,10.289,0,0,0,.667-3.667C29.833,19.5,30,19,30,15a49.246,49.246,0,0,0-.167-6.167,10.289,10.289,0,0,0-.667-3.667A6.524,6.524,0,0,0,27.5,2.5,6.525,6.525,0,0,0,24.833.833,10.289,10.289,0,0,0,21.167.167,49.245,49.245,0,0,0,15,0m0,7.333A7.543,7.543,0,0,0,7.333,15,7.667,7.667,0,1,0,15,7.333M15,20a4.911,4.911,0,0,1-5-5,4.911,4.911,0,0,1,5-5,4.911,4.911,0,0,1,5,5,4.911,4.911,0,0,1-5,5M23,5.167A1.833,1.833,0,1,0,24.833,7,1.85,1.85,0,0,0,23,5.167' fill='%23fff' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
}

.loader-icon {
	display: inline-block;
	width: var(--space-lg);
	height: var(--space-lg);
	margin: var(--space-xs) var(--space-xxxs);
	vertical-align: middle;
	opacity: 1;
	transition: opacity 0.4s ease;

	&.hidden {
		opacity: 0;
	}

	&::after {
		content: " ";
		display: block;
		width: calc(var(--space-lg) - var(--space-sm));
		height: calc(var(--space-lg) - var(--space-sm));
		margin: calc(var(--space-sm) / 2);
		border-radius: 50%;
		border: var(--space-xxxs) solid var(--color-neutral);
		border-color: var(--color-neutral) var(--color-transparent) var(--color-neutral) var(--color-transparent);
		animation: loader-icon-animation 1.2s linear infinite;
	}
}

@keyframes loader-icon-animation {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
