/* Typography */
body {
	font-family: var(--font-primary);
	font-size: var(--text-md);
	line-height: (--body-line-height);
	color: var(--color-body-text);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-secondary);
	color: var(--color-header-text);
	font-weight: 700;
	line-height: var(--heading-line-height);
	margin: 0.875em 0 0.3em;

	&:first-child {
		margin-top: 0;
	}
}

h1,
.heading-1 {
	font-size: var(--text-xxxxl);
	line-height: 1.1;
	font-weight: 600;
	margin-top: 0;
}

h2,
.heading-2 {
	font-size: var(--text-xxxl);
	line-height: 1.3;
}

h3,
.heading-3 {
	font-size: var(--text-xxl);
	line-height: 1.3;
}

h4,
.heading-4 {
	font-size: var(--text-xl);
}

h5,
.heading-5 {
	font-size: var(--text-lg);
}

h6,
.heading-6 {
	font-size: var(--text-md);
}

/* Body Content */
p,
.paragraph {
	font-size: var(--text-md);
	line-height: var(--body-line-height);
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 1em;
}

blockquote {

	@extend %has-icon;
	font-size: var(--text-md);
	line-height: var(--body-line-height);
	font-weight: 400;
	margin: 0;
	padding: 0 0 0 var(--space-lg);

	&::before {

		@extend %is-icon;
		float: left;
		margin-left: calc(var(--space-lg) * -1);
		margin-top: var(--space-xxxs);
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 24.996'%3E%3Cpath id='Path_534' data-name='Path 534' d='M92.148,67.985a12.521,12.521,0,0,1-3.962-8.117,8.439,8.439,0,1,0-8.43-8.819q-.029.558-.016,1.1C79.9,59.106,85.2,66.514,92.148,67.985ZM60.63,52.15q-.013-.543.016-1.1a8.439,8.439,0,1,1,8.43,8.819,12.523,12.523,0,0,0,3.962,8.117C66.085,66.514,60.788,59.106,60.63,52.15Z' transform='translate(-60.626 -42.989)' fill='%23000'/%3E%3C/svg%3E%0A");
	}
}

cite {

	@extend %small-caps;
}

figcaption {

	@extend %small-caps;
	margin: var(--space-sm) 0 0;
}

/* Caps styles */
%small-caps,
.small-caps {
	font-size: var(--text-sm);
	line-height: 1.5;
	font-weight: 400;
	text-transform: uppercase;
}

.md-caps {

	@extend %small-caps;
	font-size: var(--text-md);
	line-height: var(--body-line-height);
}

/* Inverse Color Styles
 * Use on dark backgrounds */
.inverse-color {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--color-header-text-inverse);
	}

	p,
	span,
	cite {
		color: var(--color-body-text-inverse);
	}

	blockquote::before {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 24.996'%3E%3Cpath id='Path_534' data-name='Path 534' d='M92.148,67.985a12.521,12.521,0,0,1-3.962-8.117,8.439,8.439,0,1,0-8.43-8.819q-.029.558-.016,1.1C79.9,59.106,85.2,66.514,92.148,67.985ZM60.63,52.15q-.013-.543.016-1.1a8.439,8.439,0,1,1,8.43,8.819,12.523,12.523,0,0,0,3.962,8.117C66.085,66.514,60.788,59.106,60.63,52.15Z' transform='translate(-60.626 -42.989)' fill='%23fff'/%3E%3C/svg%3E%0A");
	}
}

/* Higlight Styles */
.highlight {
	display: inline;
	padding: var(--space-xs) 0;
	box-decoration-break: clone;
	box-shadow: var(--space-md) 0 0 var(--color-primary), calc(var(--space-md) * -1) 0 0 var(--color-primary);

	&-primary {

		@extend .highlight;
		color: var(--color-white);
		background: var(--color-primary);
	}
}
