/* Typography */
body,
button,
input,
select,
optgroup,
textarea {
	color: var(--c-body-text);
	font-family: Lato, Arial, sans-serif;
	font-size: 1rem;
	line-height: 1;
}

@media (--bp-medium) {

	body,
	button,
	input,
	select,
	optgroup,
	textarea {
		font-size: 1.25rem;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Source Sans Pro", Arial, sans-serif;
	color: var(--c-header-text);
	margin: 0;
}

h1 {
	font-size: 1.875rem;
	line-height: 1.16;
	font-weight: 600;
	margin-bottom: 0.4em;
}

.wp-block-cover .entry-title {
	margin: 0 auto;
	padding: 0;
	border: 0;
	line-height: 1.8;
	max-width: 90%;
}

@media (--bp-medium) {

	h1 {
		font-size: 3.125rem;
	}

	.wp-block-cover .entry-title {
		max-width: 70%;
	}
}

h2 {
	font-size: 1.75rem;
	line-height: 1.33;
	font-weight: 700;
	margin-top: 0.75em;
	margin-bottom: 0.3em;
}

h2:first-child {
	margin-top: 0;
}

.heading-2-alt {
	font-family: Lato, Arial, sans-serif;
}

@media (--bp-medium) {

	h2 {
		font-size: 2.25rem;
	}
}

h3 {
	font-size: 1.5rem;
	line-height: 1.5;
	font-weight: 700;
	margin-top: 0.875em;
	margin-bottom: 0.3em;
}

h3:first-child {
	margin-top: 0;
}

@media (--bp-medium) {

	h3 {
		font-size: 1.875rem;
	}
}

h4 {
	font-size: 1.4rem;
	line-height: 1.5;
	font-weight: 700;
	margin-top: 0.875em;
	margin-bottom: 0.3em;
}

h4:first-child {
	margin-top: 0;
}

@media (--bp-medium) {

	h4 {
		font-size: 1.625rem;
	}
}

h5 {
	font-size: 1.3rem;
	line-height: 1.5;
	font-weight: 700;
	margin-top: 0.875em;
	margin-bottom: 0.3em;
}

h5:first-child {
	margin-top: 0;
}

@media (--bp-medium) {

	h5 {
		font-size: 1.5rem;
	}
}

h6 {
	font-size: 1.2rem;
	line-height: 1.5;
	font-weight: 700;
	margin-top: 1em;
	margin-bottom: 0.3em;
}

h6:first-child {
	margin-top: 0;
}

@media (--bp-medium) {

	h6 {
		font-size: 1.25rem;
	}
}

.reverse-color h1,
.reverse-color h2,
.reverse-color h3,
.reverse-color h4,
.reverse-color h5,
.reverse-color h6 {
	color: var(--c-header-text-reverse);
}

p {
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 400;
	margin-bottom: 1em;
}

@media (--bp-medium) {

	p {
		font-size: 1.25rem;
		line-height: 1.5;
	}
}

.reverse-color p {
	color: var(--c-body-text-reverse);
}

blockquote {
	padding-left: calc(var(--d-grid-padding) * 1.5);
	margin: 1.25em var(--d-grid-padding);
	position: relative;
}

blockquote::before {
	content: "";
	display: block;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='24.996' viewBox='0 0 36 24.996'%3E%3Cpath id='Path_534' data-name='Path 534' d='M92.148,67.985a12.521,12.521,0,0,1-3.962-8.117,8.439,8.439,0,1,0-8.43-8.819q-.029.558-.016,1.1C79.9,59.106,85.2,66.514,92.148,67.985ZM60.63,52.15q-.013-.543.016-1.1a8.439,8.439,0,1,1,8.43,8.819,12.523,12.523,0,0,0,3.962,8.117C66.085,66.514,60.788,59.106,60.63,52.15Z' transform='translate(-60.626 -42.989)' fill='%23000'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: contain;
	float: left;
	margin-left: calc(var(--d-grid-padding) * -1.5);
	margin-top: calc(var(--d-grid-padding) * 0.25);
	width: calc(var(--d-grid-padding) * 1);
	height: calc(var(--d-grid-padding) * 1);
}

.reverse-color blockquote::before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='24.996' viewBox='0 0 36 24.996'%3E%3Cpath id='Path_534' data-name='Path 534' d='M92.148,67.985a12.521,12.521,0,0,1-3.962-8.117,8.439,8.439,0,1,0-8.43-8.819q-.029.558-.016,1.1C79.9,59.106,85.2,66.514,92.148,67.985ZM60.63,52.15q-.013-.543.016-1.1a8.439,8.439,0,1,1,8.43,8.819,12.523,12.523,0,0,0,3.962,8.117C66.085,66.514,60.788,59.106,60.63,52.15Z' transform='translate(-60.626 -42.989)' fill='%23fff'/%3E%3C/svg%3E%0A");
}

cite {
	font-size: 0.875rem;
	line-height: 1.5;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	margin: 0;
}

.reverse-color cite {
	color: var(--c-body-text-reverse);
}

.reverse-color span {
	color: var(--c-body-text-reverse);
}

ul,
ol {
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 400;
	margin: 0 0 1em var(--d-grid-padding);
	padding: 0 0 0 calc(var(--d-grid-padding) * 1.5);
}

@media (--bp-medium) {

	ul,
	ol {
		font-size: 1.25rem;
		line-height: 1.5;
	}
}

li {
	margin-bottom: 0.5em;
}

figcaption {
	font-size: 0.875rem;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0.5em 0 0;
}

.tagline {
	font-size: 1.2rem;
	line-height: 1.3;
	font-weight: 400;
}

.wp-block-cover .tagline {
	display: block;
	max-width: 75%;
	margin: calc(var(--d-grid-padding) / 2) auto 0;
}

@media (--bp-medium) {

	.wp-block-cover .tagline {
		max-width: 35%;
	}

	.silo-template-default .tagline,
	.post-type-silo .tagline {
		display: inline-block;
		max-width: 40%;
	}
}

.font-weight-400 {
	font-weight: 400;
}

.font-weight-600 {
	font-weight: 600;

}

.font-weight-700 {
	font-weight: 700;
}

.uppercase {
	text-transform: uppercase;
}

.small-caps {
	font-size: 0.875rem;
	line-height: 1.5;
	text-transform: uppercase;
}

.color-white {
	color: var(--c-white);
}

.highlight {
	display: inline;
	color: var(--c-white);
	background: var(--c-highlight);
	padding: 5px 0;
	box-decoration-break: clone;
	box-shadow: var(--d-grid-padding) 0 0 var(--c-highlight), calc(var(--d-grid-padding) * -1) 0 0 var(--c-highlight);
}
