/* WordPress generated classes */

.alignleft {
	float: left;
	margin-right: var(--space-md);
	text-align: left;
}

.alignright {
	float: right;
	margin-left: var(--space-md);
	text-align: right;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.wp-caption {
	max-width: 100%;
}

.wp-caption.aligncenter {
	text-align: center;
}

.wp-caption.alignright {
	text-align: right;
}

.wp-caption-text {
	margin: 0;
}

.wp-block-quote {
	border: 0;
}

.entry-content > .wp-block-image {
	max-width: 950px;
	margin: var(--space-md) auto;
	text-align: center;
}

.wp-block-image {

	&.has-background-dim::before {
		background: var(--color-cover-background-fallback);
		background: var(--color-cover-background);
		opacity: 1;
	}

	figcaption {
		margin: var(--space-xs) 0 0;
		text-align: center;
	}
}

.wp-block-cover {
	color: var(--color-white);
	background-color: var(--color-midnight);
	margin-bottom: var(--space-lg);

	&.has-background-dim {

		&::before {
			background: var(--color-cover-background-fallback);
			background: var(--color-cover-background);
			opacity: 1;
		}

		> * {
			z-index: 5;
		}
	}

	.entry-title {
		margin: 0 auto;
		padding: 0;
		border: 0;
		line-height: var(--heading-line-height);
		max-width: 90%;
	}

	.tagline {
		display: block;
		max-width: 75%;
		margin: var(--space-sm) auto 0;
	}
}

@media (--bp-medium) {

	.wp-block-cover {

		.entry-title {
			max-width: 70%;
		}

		.tagline {
			max-width: 35%;
		}
	}
}
