/* Flex */

/* Flex Utility Classes */
%flex {
	display: flex;
	flex-flow: row wrap;

	&-between {

		@extend %flex;
		justify-content: space-between;

		&-start {

			@extend %flex-between;
			align-items: flex-start;
		}

		&-end {

			@extend %flex-between;
			align-items: flex-end;
		}

		&-center {

			@extend %flex-between;
			align-items: center;
		}

		&-stretch {

			@extend %flex-between;
			align-items: stretch;
		}
	}

	&-around {

		@extend %flex;
		justify-content: space-around;

		&-start {

			@extend %flex-around;
			align-items: flex-start;
		}

		&-end {

			@extend %flex-around;
			align-items: flex-end;
		}

		&-center {

			@extend %flex-around;
			align-items: center;
		}

		&-stretch {

			@extend %flex-around;
			align-items: stretch;
		}
	}
}
