/* Grid */

.item-grid {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-self: center;
	padding: calc(var(--d-grid-padding) / 2) 0;
}

.item-grid .item {
	width: 100%;
	margin-bottom: var(--d-grid-padding);
}

.with-background .item {
	background: var(--c-grid-item-background-fallback);
	background: var(--c-grid-item-background);
	padding: var(--d-grid-padding);
}

@media (--bp-medium) {

	.item-grid .item {
		width: calc(100% / 3 - (var(--d-grid-padding) / 2));
		padding: calc(var(--d-grid-padding) + 10px);
	}
}
