/* Layout */
@import "flex.scss";
@import "grid.scss";

.site {
	width: 100%;
}

.site-main {
	margin-top: 60px;
}

.row {
	padding: 0 var(--component-padding);
	margin: 0 auto var(--component-padding);

	&.full-width {
		max-width: none;
		padding-left: 0;
		padding-right: 0;
	}
}

.max-width {
	max-width: var(--max-width);
	margin-left: auto;
	margin-right: auto;
}

.item-grid {

	@extend %flex;

	.item {

		@extend %flex;
		flex-direction: column;
		flex-basis: 100%;
		margin-bottom: var(--component-padding);

		> * {
			flex: 0 1 auto;

			&:last-child {
				flex-grow: 1;
			}
		}
	}

	&.has-background .item {

		@include gradient-background;
		padding: var(--component-padding);
	}
}


@media (--bp-medium) {

	.item-grid {
		margin-left: calc(-0.5 * var(--component-padding));
		margin-right: calc(-0.5 * var(--component-padding));

		.item {
			flex-basis: calc(100% / 2 - var(--component-padding));
			margin-left: calc(var(--component-padding) / 2);
			margin-right: calc(var(--component-padding) / 2);
		}

		&.no-wrap {
			flex-wrap: nowrap;

			.item {
				flex-basis: auto;
			}
		}
	}
}

@media (--bp-large) {

	.item-grid {

		.item {
			flex-basis: calc(100% / 3 - var(--component-padding));
		}

		&.has-background .item {
			padding-left: var(--space-lg);
			padding-right: var(--space-lg);
		}
	}
}
