/* Post */
.entry-header,
.entry-footer {
	max-width: var(--max-content-width);
	padding-left: var(--component-padding);
	padding-right: var(--component-padding);
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 0;
}

.entry-content {

	&.content-none {
		width: 100%;
		min-height: 250px;
		padding: var(--space-xxl) var(--space-xxxl);

		p {

			@extend .heading-4;
			color: var(--color-body-text);
			text-align: center;
		}
	}

	> * {
		max-width: var(--max-content-width);
		padding-left: var(--component-padding);
		padding-right: var(--component-padding);
		margin-left: auto;
		margin-right: auto;
	}

	// > .row:last-child {
	// 	margin-bottom: 0;
	// }

	ul,
	ol {
		padding-left: calc(var(--component-padding) + var(--space-lg));
		padding-right: calc(var(--component-padding) + var(--space-lg));

		&.entry-categories {

			@include horizontal-list;
			line-height: 1;
			display: inline-block;

			li {

				@extend %small-caps;
				margin-right: var(--space-xxxs);
				padding: 0;

				a {
					color: inherit;
				}
			}
		}
	}

	blockquote {
		padding-left: calc(var(--component-padding) + var(--space-lg));
		padding-right: calc(var(--component-padding) + var(--space-lg));
	}

	.wp-block-image {
		max-width: 950px;
		margin: var(--space-md) auto;
		text-align: center;
	}
}

.entry-meta-social {
	background-color: var(--color-midnight);
	padding: var(--space-xs) var(--component-padding);
	margin-bottom: var(--component-padding);
	display: inline-block;

	> * {
		margin-right: var(--space-xs);
	}
}

.entry-meta {

	@extend %flex-between;
	@extend %small-caps;
	position: relative;
	margin-bottom: var(--component-padding);

	&:empty {
		display: none;
	}

	> * {
		flex: 0 100%;
	}
}

.large-width .entry-content > * {
	max-width: var(--max-width);
}

.entry-title {
	padding: var(--space-sm) 0 var(--component-padding);
	border-bottom: 1px solid var(--color-silver);
}

.entry-footer-title {
	margin-top: var(--component-padding);
	padding-top: var(--component-padding);
	border-top: 1px solid var(--color-silver);
}

.entry-tag {

	@extend %small-caps;
	margin-bottom: var(--space-sm);
}

@media (--bp-medium) {

	.entry-meta > * {
		flex: 1 50%;

		&:nth-child(1) {
			flex: 0 auto;
		}

		&:nth-child(2) {
			order: -1;
		}
	}

	/* .entry-meta-social {
		position: absolute;
	} */
}
