/* Article */
.entry-header.max-width,
.entry-footer.max-width {
	max-width: var(--max-content-width);
	padding-bottom: 0;
}

.entry-content {

	> * {
		max-width: var(--max-content-width);
		padding-left: var(--component-padding);
		padding-right: var(--component-padding);
		margin-left: auto;
		margin-right: auto;
	}

	ul,
	ol {
		font-size: var(--text-md);
		line-height: var(--body-line-height);
		padding-left: calc(var(--component-padding) + var(--space-lg));
		padding-right: calc(var(--component-padding) + var(--space-lg));
		list-style: disc;

		li {
			margin-bottom: var(--space-md);
			list-style: inherit;
		}
	}

	ol {
		list-style: decimal;
	}

	blockquote {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding-left: calc(var(--component-padding) + var(--space-lg));
		padding-right: calc(var(--component-padding) + var(--space-lg));
	}


}

.large-width .entry-content > * {
	max-width: var(--max-width);
}

.entry-title {
	margin-bottom: var(--component-padding);
	padding: var(--space-sm) 0 var(--component-padding);
	border-bottom: 1px solid var(--color-silver);
}

.entry-footer-title {
	margin-top: var(--component-padding);
	padding-top: var(--component-padding);
	border-top: 1px solid var(--color-silver);
}

.entry-meta {
	position: relative;
}

.entry-meta-centered {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: var(--space-lg);
}

.entry-meta-left {
	margin-right: var(--component-padding);
}

.entry-meta-text {

	@extend %small-caps;
}

.entry-categories {

	@include horizontal-list;
	line-height: 1;
	display: inline-block;
}

.entry-categories li {

	@extend %small-caps;
	margin-right: var(--space-xs);
	padding: 0;
}

.entry-categories li a {
	color: inherit;
}

.entry-meta-social {
	background-color: var(--color-midnight);
	padding: var(--space-xs) var(--component-padding);
	margin-bottom: var(--component-padding);
	display: inline-block;
}

.entry-meta-social > * {
	margin-right: var(--space-xs);
}

@media (--bp-medium) {

	/* .entry-meta-social {
		position: absolute;
	} */
}
