/* Post Type News */

.news-template-default,
.post-type-news {

	article {
		background-repeat: no-repeat;
		background-size: 1px;
	}
}

@media (--bp-medium) {

	.news-template-default,
	.post-type-news {

		article > .row.max-width {
			max-width: var(--max-content-width);
		}
	}
}
