/* Mixins */
@mixin reset-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

@mixin horizontal-list {

	@include reset-list;

	li {
		display: inline-block;
		margin: 0;
	}
}

@mixin gradient-background( $i: false ) {
	$important: if($i, "!important", "");
	background: var(--color-grid-item-background-fallback) #{$important};
	background: var(--color-grid-item-background) #{$important};
}
