/* Quotes Slider Block */

.quotes-slider-block {

	blockquote {
		padding-top: 0;
		padding-bottom: 0;
		padding-left: var(--space-lg);
		padding-right: 0;
	}
}

@media (--bp-medium) {

	.quotes-slider-block {

		blockquote {
			padding-right: 20%;
		}
	}
}
