/* Priority Block */

.priority-block {
	background-repeat: no-repeat;
	background-size: 1px;

	.priority-file-name {

		@extend .heading-4;
		font-weight: 600;
		display: block;
		margin-bottom: var(--space-md);
	}

	.image-placeholder {
		display: block;
		position: relative;

		&.has-overlay > * {
			position: relative;
			z-index: 5;
		}

		&.has-overlay::before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: var(--color-section-overlay-background-fallback);
			background: var(--color-section-overlay-background);
		}
	}
}

@media (--bp-medium) {

	.priority-block {
		position: relative;
		height: 100%;
		display: flex;
		flex-flow: column;
		justify-content: flex-end;

		&.has-background {
			padding: var(--space-xxxl) var(--component-padding) var(--space-xl);
			background-repeat: no-repeat;
			background-size: cover;
		}

		&.has-overlay > * {
			position: relative;
			z-index: 5;
		}

		&.has-overlay::before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: var(--color-section-overlay-background-fallback);
			background: var(--color-section-overlay-background);
		}

		.image-placeholder {
			display: none;
		}

		.priority-title,
		span {
			color: var(--color-white);
		}

		.priority-file-name {
			font-size: var(--text-lg);
			line-height: var(--heading-line-height);
			color: var(--color-white);
		}

		.hrule {
			background-color: var(--color-white);
		}
	}
}

@media (--bp-large) {

	.priority-block {

		&.has-background {
			padding: var(--space-xxl) var(--space-lg) var(--space-xxl) 50%;
		}

		&.has-overlay::before {
			background: var(--color-section-overlay-background-fallback);
			background: var(--color-section-overlay-background-horizontal-reverse);
		}
	}
}
