/* Header Block */

.header-block {
	margin: 0 auto;
	padding: var(--component-padding) 0 0;

	&-silo {
		text-align: center;

		.entry-title {
			margin: var(--space-xs) auto;
			padding: 0;
			border: 0;
		}
	}

	&.wp-block-cover {
		margin-bottom: var(--space-lg);
		max-width: none;
		min-height: 450px;
		text-align: center;
	}

	a {
		margin: var(--space-lg) auto 0;
		display: inline-block;
	}

	.hrule {
		display: none;
	}

	article {
		margin-top: var(--component-padding);

		.entry-tag {
			margin-bottom: var(--space-xs);
			display: block;
		}

		.featured-post-title {

			@extend .heading-4;
			margin-top: 0;
		}

		.entry-meta {
			margin-bottom: var(--space-sm);
		}

		a {
			display: block;
			margin-top: var(--space-sm);
		}
	}
}

@media (--bp-medium) {

	.header-block {

		&.wp-block-cover {
			min-height: 750px;
		}

		article {

			.entry-meta {
				display: block;
			}

			p {
				max-width: 66%;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}
