/* Priority Block */

.priority-block {
	background-repeat: no-repeat;
	background-size: 1px;

	.priority-file-name {

		@extend .heading-4;
		font-weight: 600;
		display: block;
		margin-bottom: var(--space-md);
	}

	.image-placeholder {

		@include has-overlay;
	}
}

@media (--bp-medium) {

	.priority-block {
		position: relative;
		height: 100%;
		display: flex;
		flex-flow: column;
		justify-content: flex-end;

		&.has-background {
			padding: var(--space-xxxl) 20% var(--space-xl) var(--component-padding);
			background-repeat: no-repeat;
			background-size: cover;
		}

		&.has-overlay {

			@include has-overlay;
		}

		.image-placeholder {
			display: none;
		}

		.priority-title,
		span {
			color: var(--color-white);
		}

		.priority-file-name {
			font-size: var(--text-lg);
			line-height: var(--heading-line-height);
			color: var(--color-white);
		}

		.hrule {
			background-color: var(--color-white);
		}
	}
}

@media (--bp-large) {

	.priority-block {

		&.has-background {
			padding: var(--space-xxl) var(--space-lg) var(--space-xxl) 50%;
		}

		&.has-overlay {

			@include has-overlay-horizontal-reverse;
		}
	}
}
