/* Content Grid */

.content-grid-item-title {
	font-size: 1.375rem;
	line-height: 1.3;
	font-weight: 600;
}

.content-grid-item-title a {
	color: var(--c-white);
	text-decoration: none;
}

.content-grid-item-date {
	margin-bottom: 0.75em;
}
